<template>
  <div id="sidebar-wrapper">
    <img 
      src="~/assets/images/logo.svg" 
      alt="GERU"
      class="logo">
    <ul class="sidebar-nav">
      <li class="sidebar-top">
        <button
          type="button"
          class="sidebarToggle"
          @click.prevent="toggleSidebar">
          <i class="material-icons">menu</i>
        </button>
      </li>
      <SidebarItem 
        :title="inboxList.title" 
        :link="'/lists/' + inboxList.id"
        :number="inboxList.tasks.length"
        link-class="inbox" 
        icon="label_outline" />
      <SidebarItem 
        :number="starredList.tasks.length" 
        title="Starred" 
        link="/lists/starred"
        link-class="starred"
        icon="star_outline" />
      <SidebarItem 
        :number="todayList.tasks.length" 
        title="Today" 
        link="/lists/today"
        link-class="today"
        icon="access_time" />
      <SidebarItem 
        :number="weekList.tasks.length" 
        title="Week" 
        link="/lists/week"
        link-class="week"
        icon="date_range" />
      <SidebarItem 
        :number="monthList.tasks.length" 
        title="Month" 
        link="/lists/month"
        link-class="month"
        icon="event_note" />
      <SidebarItem
        v-for="(list, index) in listsWithoutInbox"
        :key="index"
        :title="list.title" 
        :link="'/lists/' + list.id" 
        :number="list.tasks.length"
        :id="list.id"
        link-class="list" 
        icon="format_list_bulleted" />
      <SidebarItemNewList />
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    listsWithoutInbox () {
      return this.$store.getters.listsWithoutInbox;
    },
    inboxList () {
      return this.$store.getters.inboxList;
    },
    starredList () {
      return this.$store.getters.starredList;
    },
    weekList () {
      return this.$store.getters.weekList;
    },
    monthList () {
      return this.$store.getters.monthList;
    },
    todayList () {
      return this.$store.getters.todayList;
    }
  },
  methods: {
    toggleSidebar() {
      this.$emit('toggleSidebar');
    }
  },
}
</script>
