<template>
  <li class="sidebar-item">
    <a 
      class="btn new"
      href="#"
      @click.prevent="showModal">
      <i class="material-icons">add</i>
      <span class="title">Create New List</span>
    </a>
    <b-modal 
      id="modalPrevent"
      ref="modal"
      title="Create New List"
      @ok="handleOk"
      @shown="clearName">
      <form @submit.stop.prevent="handleSubmit">
        <b-form-input 
          v-model="list.title"
          type="text"
          placeholder="Enter your list name..."/>
      </form>
    </b-modal>
  </li>
</template>

<script>
export default {
  data() {
    return {
      list: {
        id: null,
        title: null,
      }
    }
  },
  methods: {
    showModal () {
      this.$refs.modal.show()
    },
    hideModal () {
      this.$refs.modal.hide()
    },
    clearName () {
      this.list.title = ''
    },
    handleOk (evt) {
      // Prevent modal from closing
      evt.preventDefault()
      if (!this.list.title) {
        alert('Please enter list name')
      } else {
        this.handleSubmit()
      }
    },
    handleSubmit () {
      this.list.id = this.$store.getters.randomId();
      this.$refs.modal.hide()
      this.$store.dispatch('addList', this.list);
      this.$router.push(`/lists/${this.list.id}`);
    }
  }
}
</script>
