<template>
  <li class="sidebar-item">
    <nuxt-link 
      :to="link" 
      :class="linkClass" 
      class="btn">
      <i class="material-icons">{{ icon }}</i>
      <span class="title">{{ title }}</span>
      <span 
        v-if="number && !showDeleteButton" 
        class="number">{{ number }}</span>
    </nuxt-link>
    <button 
      v-if="showDeleteButton"
      type="button"
      class="deleteButton" 
      @click="deleteList">
      <i class="material-icons">clear</i>
    </button>
  </li>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: null,
      required: false
    },
    title: {
      type: String,
      required: true
    },
    number: {
      type: Number,
      default: 0,
      required: false
    },
    linkClass: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: true
    }
  },
  computed: {
    showDeleteButton() {
      return this.listCanBeDelete && this.listIsActive;
    }, 
    listCanBeDelete() {
      return Boolean(this.id);
    },
    listIsActive() {
      return this.id === this.$route.params.listId;
    }
  },
  methods: {
    deleteList() {
      if(confirm(`Do you want to permanetly delete "${this.title}" list?`)) {
        this.$store.dispatch('deleteList', this.id);
        this.$router.push('/lists/inbox');
      }
    }
  }
}
</script>
