<template>
  <div id="page-content-wrapper">
    <div id="page-header">
      <h1 class="title">{{ list.title }}</h1>
    </div>
    <div id="page-content">
      <List 
        :list-to-add="list" 
        :list-to-show="list"/>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
export default {
  computed: {
    list () {
      const list = _.find(this.$store.getters.lists, { id: this.$route.params.listId });
      return list;
    }
  }
}
</script>
