<template>
  <div id="page-content-wrapper">
    <div id="page-header">
      <h1 class="title">Month</h1>
    </div>
    <div id="page-content">
      <List 
        :list-to-show="listToShow" 
        empty-list-label="Good! You have no tasks for this month :)" />
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    listToAdd () {
      return this.$store.getters.inboxList;
    },
    listToShow () {
      return this.$store.getters.monthList;
    }
  }
}
</script>
