<template>
  <div id="page-content-wrapper">
    <div id="page-header">
      <h1 class="title">Today</h1>
    </div>
    <div id="page-content">
      <List 
        :list-to-add="listToAdd" 
        :list-to-show="listToShow" 
        :new-task-due-today="true"
        new-task-input-label="Add new task 'due today' in Inbox..." />
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    listToAdd () {
      return this.$store.getters.inboxList;
    },
    listToShow () {
      return this.$store.getters.todayList;
    }
  },
  created() {
    console.log(new Date());
  }
}
</script>
