<template>
  <div id="todo-list-grid">
    <AddTask 
      v-if="listToAdd"
      :list="listToAdd"
      :tasks="listToShow.tasks"
      :label="newTaskInputLabel"
      :new-task-starred="newTaskStarred"
      :new-task-due-today="newTaskDueToday" />
    <ListAlert       
      v-if="listToAdd"
      :label="alertLabel"
      type="primary"/>
    <ListAlert       
      v-if="tasksAreEmpty"
      :label="emptyListLabel"
      type="primary"/>
    <Tasks :tasks="uncompletedTasks" />   
    <button 
      v-if="showTasksButton"
      type="button"
      class="show-tasks-button btn btn-sm btn-primary"
      @click="showCompletedTasks = !showCompletedTasks">{{ showCompletedTasks ? 'Hide' : 'Show' }} Completed tasks</button>
    <Tasks
      v-if="showCompletedTasks || tasksAreFinished" 
      :tasks="completedTasks" 
      :completed="true" />
  </div>
</template>

<script>
import _ from 'lodash';
export default {
    props: {
      newTaskDueToday: {
        type: Boolean,
        default: false
      },
      emptyListLabel: {
        type: String,
        default: null
      },
      listToShow: {
        type: Object,
        default: null
      },
      listToAdd: {
        type: Object,
        default: null
      },
      newTaskStarred: {
        type: Boolean,
        default: false,
        required: false
      },
      newTaskInputLabel: {
        type: String,
        default: 'Add new task...',
        required: false
      }
    },
    data() {
      return {
        showCompletedTasks: true
      }
    },
    computed: {
      completedTasks() {
        const list = _.orderBy(_.filter(this.listToShow.tasks, {'completed': true}), 'completionDate', 'desc');
        return list;
      },
      uncompletedTasks() {
        const list = _.orderBy(_.filter(this.listToShow.tasks, {'completed': false}), 'creationDate', 'desc');
        return list;
      },
      showTasksButton() {
        return this.completedTasks.length && this.uncompletedTasks.length;
      },
      alertLabel() {
        let label = null;
        if(this.tasksAreFinished) {
          label = 'Great Job! You finished all tasks!'
        } else if(this.tasksAreEmpty) {
          label = 'You can start adding tasks!'
        }
        return label;
      },
      tasksAreFinished() {
        return !this.uncompletedTasks.length && this.completedTasks.length;
      },
      tasksAreEmpty() {
        return !this.uncompletedTasks.length && !this.completedTasks.length;
      }
    }
}
</script>
