<template>
  <div 
    v-if="label" 
    :class="'alert alert-' + type" 
    role="alert" 
    aria-live="polite" 
    aria-atomic="true">{{ label }}</div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: null,
      required: false
    },
    type: {
      type: String,
      required: true
    }
  }
}
</script>
