@import "custom.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "fonts.scss";

.alert-primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

$blue-dark: #195561;

body {
  overflow-x: hidden;
}

$toggleSize: 1.2rem;
$paddV: 0.5rem;
$paddH: 0.5rem;
$headerHeight: 41px;
$headerGap: 12px;
$transitionTime: 0.5s;
$sidebarWidth: 250px;
$taskbarWidth: 350px;
$sidebarGapWidth: $headerHeight;

#wrapper {
  @include transition(all $transitionTime ease);

  &.sidebar-open {
    padding-left: $sidebarWidth;
    #sidebar-wrapper {
      width: $sidebarWidth;
    }
    #page-content-wrapper {
      margin-right: -$sidebarWidth;
      padding-left: 0;
    }
  }
  &.taskbar-open {
    .taskbar-wrapper {
      right: $taskbarWidth;
    }
    #page-content-wrapper {
      padding-right: $taskbarWidth;
    }
  }
  .wrapperHeader {
    height: $headerHeight;
    position: absolute;
    top: 0;
    width: 100%;
    background: $gray-700;
  }
  .taskbar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: $taskbarWidth;
    height: 100%;
    margin-right: -$taskbarWidth;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    box-shadow: $box-shadow-sm;
    @include transition(all $transitionTime ease);

    //----------------- 

    $listHeight: 20px;
    $margin: (($headerHeight / 2) - ($listHeight / 2)) - 0.5px;

    .todo-task {
      padding: $margin;
      border-bottom: solid 1px $border-color;
    }

    .taskbar-nav {
      $lineHeight: $headerHeight;
      $itemGap: 5px;
      margin: 0;
      padding: 0;
      list-style: none;

      .taskbar-item {
        position: relative;
        display: block;
        padding: 0;
        height: auto;
        outline: none;
        border-radius: 0;
        border: none;
        text-align: left;
        color: $body-color;

        &.delete-item {
          button {
            display: block;
            width: 100%;
            height: $lineHeight;
            line-height: $lineHeight;
            text-align: left;
            border: none;
            outline: none;
            padding: 0;
            background: none;
            cursor: pointer;
            &:hover {
              i, .title {
                color: $red;
              }
            }
            .title {
              display: block;
              width: 100%;
              height: $lineHeight;
              line-height: $lineHeight;
              text-align: left;
              border: none;
              outline: none;
              padding: 0;
              padding-left: $lineHeight;
              @include transition(all $transitionTime ease);
            }          
            i {
              display: block;
              float: left;
              width: $lineHeight;
              height: $lineHeight;
              line-height: $lineHeight;
              text-align: center;
              font-size: 1.2rem;
              position: absolute;
              z-index: 1;
              font-size: 1.6rem;
              @include transition(all $transitionTime ease);
            }
          }
        }

        &.subtasks-item {

          .todo-list {

            .todo-task {
              $size: 18px;
              border: none;
              padding: 7px 12px;
              line-height: $size;

              .title {
                line-height: $size;
                min-height: $size;
              }

              .todo-task-check-button {
                width: $size;
                height: $size;

                i {
                  position: absolute;
                  left: -1px;
                  top: 0;
                  font-size: 0.9rem;
                  line-height: $size;
                  width: $size;
                  height: $size;
                }
              }
            }
          }

          .input-container {
            .title {
              display: inline-block;
              height: $lineHeight;
              line-height: $lineHeight;
              text-align: left;
            }          
            i {
              display: block;
              float: left;
              width: $lineHeight;
              height: $lineHeight;
              line-height: $lineHeight;
              text-align: center;
              font-size: 1.2rem;
              position: absolute;
              z-index: 1;
              font-size: 1.6rem;
            }
            input {
              display: block;
              width: 100%;
              height: $lineHeight;
              line-height: $lineHeight;
              text-align: left;
              border: none;
              outline: none;
              padding: 0;
              padding-left: $lineHeight;
            }
          }
        }

        &.date-item {
          .vdp-datepicker {
            $calendarWidth: 300px;
  
            input {
              display: inline-block;
              height: $lineHeight;
              line-height: $lineHeight;
              text-align: left;
              border: none;
              outline: none;
              padding: 0;
            }
  
            .vdp-datepicker__calendar {
              left: 50%;
              margin-left: -($calendarWidth /2);
              width: $calendarWidth;
              padding: 5px;
              border-radius: 0.25rem;
              box-shadow: $box-shadow-sm;
  
              .cell {
                border-radius: 0.2rem;
                &.selected {
                  color: #fff;
                  background: $blue;
                }
              }
            }
          }

          &.red {
            .vdp-datepicker {
              input {
                color: $danger;
              }
            }
            i {
              color: $danger;
            }
          }

          .vdp-datepicker {
            $calendarWidth: 300px;

            input {
              display: block;
              width: 100%;
              height: $lineHeight;
              line-height: $lineHeight;
              text-align: left;
              border: none;
              outline: none;
              padding: 0;
              padding-left: $lineHeight;
            }

            .vdp-datepicker__calendar {
              left: 50%;
              margin-left: -($calendarWidth /2);
              width: $calendarWidth;
              padding: 5px;
              border-radius: 0.25rem;
              box-shadow: $box-shadow-sm;

              .cell {
                border-radius: 0.2rem;
                &.selected {
                  color: #fff;
                  background: $blue;
                }
              }
            }
          }
          i {
            display: block;
            float: left;
            width: $lineHeight;
            height: $lineHeight;
            line-height: $lineHeight;
            text-align: center;
            font-size: 1.2rem;
            position: absolute;
            z-index: 1;
          }
        }
      }
    }
  }
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebarWidth;
    width: $sidebarGapWidth;
    height: 100%;
    margin-left: -$sidebarWidth;
    overflow-y: auto;
    overflow-x: hidden;
    background: $gray-200;
    box-shadow: inset $box-shadow-sm;
    @include transition(all $transitionTime ease);

    .logo {
      $size: $sidebarWidth;
      position: absolute;
      padding: 3.5rem;
      width: $size;
      height: auto;
      left: 0;
      bottom: 0;
    }
  }
  #page-content-wrapper {
    width: 100%;
    padding-left: $sidebarGapWidth;
    position: relative;
    @include transition(all $transitionTime ease);
    #page-content {
      padding: 20px;      
    }
  }
  #page-header {
    position: relative;
    height: $headerHeight;
    padding: 0 $headerGap;
    background: $gray-700;
    .title {
      font-size: 1.2rem;
      line-height: $headerHeight;
      color: #fff;
    }
  }
  .sidebar-nav {
    $navHeight: $headerHeight;
    $lineHeight: 20px;
    $navMargin: (($navHeight / 2) - ($lineHeight / 2));

    $itemGap: 5px;
    position: absolute;
    top: 0;
    width: $sidebarWidth;
    margin: 0;
    padding: 0;
    list-style: none;
    .sidebar-item {
      position: relative;
      .deleteButton {
        position: absolute;
        top: 0;
        right: 0;
        width: $navHeight;
        height: $navHeight;
        line-height: $navHeight;
        text-align: center;
        color: $gray-500;
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        outline: none;
        cursor: pointer;

        i {
          font-size: 1.2rem;
          color: $gray-700;
          line-height: $navHeight;
          @include transition(all $transitionTime ease);
        }

        &:hover {
          i {
            color: $red;
          }
        }
      }
      a {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        min-height: $navHeight;
        outline: none;
        border-radius: 0;
        border: none;
        text-align: left;
        color: $body-color;
        .title {
          white-space: normal;
          display: inline-block;
          line-height: $lineHeight;
          text-align: left;
          padding: $navMargin $navHeight;
        }
        .number {
          position: absolute;
          top: 0;
          right: 0;
          width: $navHeight;
          height: $navHeight;
          line-height: $navHeight;
          text-align: center;
          color: $gray-500;
          font-size: 0.9rem;
          font-weight: 600;
        }
        i {
          position: absolute;
          display: block;
          float: left;
          width: $navHeight;
          height: $navHeight;
          line-height: $navHeight + 1px;
          text-align: center;
          font-size: 1.2rem;
        }
        &.inbox {
          i {
            color: $blue;
            font-size: 1.32rem;
          }
        }
        &.starred {
          i {
            color: $yellow;
            font-size: 1.5rem;
          }
        }
        &.today {
          i {
            color: $red;
            font-size: 1.32rem;
          }
        }
        &.week {
          i {
            color: $indigo;
            font-size: 1.32rem;
          }
        }
        &.month {
          i {
            color: $pink;
            font-size: 1.32rem;
          }
        }
        &.new {
          border-top: solid 1px $gray-400;
          i {
            color: $green;
            font-size: 1.6rem;
          }
        }
        &.list {
          i {
            font-size: 1.25rem;
          }
        }
        &:hover,
        &:focus {
          background: #fff;
          box-shadow: none;
        }
        &.active {
          background: $gray-100;
          box-shadow: none;
        } // &.active {
        //   background: $blue;
        //   color: #fff;
        //   i {
        //     color: #fff;
        //   }
        // }
      }
    }
    .sidebar-top {
      height: $headerHeight;
      background: $gray-800;
      .sidebarToggle {
        display: block;
        float: left;
        border: none;
        margin: 0;
        cursor: pointer;
        width: $headerHeight;
        height: $headerHeight;
        text-align: center;
        background: none;
        outline: none;
        text-decoration: none;
        @include transition(all $transitionTime ease);
        &:hover {
          background: $gray-900;
        }
        i {
          display: block;
          font-size: 1.5rem;
          line-height: $headerHeight;
          width: 100%;
          height: 100%;
          color: #fff;
        }
      }
    }
  }
  @media(min-width:768px) {
    padding-left: 0;
    &.sidebar-open {
      padding-left: $sidebarWidth;
      #sidebar-wrapper {
        width: $sidebarWidth;
      }
      #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }
  }
}

#todo-list-grid {
  .show-tasks-button {
    margin: 1.5rem 0;
  }
  .new-task-input {
    margin-bottom: 1.5rem;
  }
  .todo-list {}
}

.todo-task {
  $margin: 0.75rem;
  $listHeight: 20px;

  cursor: pointer;
  padding: $margin 12px;
  line-height: $listHeight;
  .title {
    cursor: text;
    line-height: $listHeight;
    min-height: $listHeight;
    display: inline-block;
    padding-right: 3.5rem;
    padding-left: 1.8rem;
  }
  .input-title {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2rem;
    overflow: hidden;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
  }
  .dateLabel {
    display: block;
    margin-left: 1.8rem;
    margin-top: 0.3rem;
    opacity: 0.6;
    font-size: 0.7rem;
    line-height: 0.7rem;

    &.red {
      color: $red;
      font-weight: 500;
    }
  }
  &.completed {
    .title {
      text-decoration: line-through;
    }
  }
  &.selected {
    background: $gray-200;
    opacity: 1;
  }
  .edit-input {
    display: block;
    width: 100%;
    color: #fff;
    background: none;
    border: none;
    outline: none;
    line-height: $listHeight;
    margin: 0;
    padding: 0;
    &::selection {
      background: rgba(0, 0, 0, 0.3);
    }
  }
  .icons {
    position: absolute;
    top: $margin;
    right: $margin;
    text-align: right;
    .btn {
      width: $listHeight;
      height: $listHeight;
      margin-left: 0.2rem;
      padding: 0;
      border: none;
      background: none;
      &:hover,
      &:active {
        box-shadow: none;
        i {
          color: $blue;
        }
      }
      i {
        font-size: 1.2rem;
        line-height: $listHeight;
      }
      &.calendar {}
      &.star {}
      &.edit {}
      &.delete {}
    }
  }
  .todo-task-check-button {
    position: absolute;
    float: left;
    width: $listHeight;
    height: $listHeight;
    padding: 0px;
    margin: 0;
    text-align: center;
    i {
      font-size: 1.1rem;
      line-height: $listHeight;
    }
    &.btn-outline-secondary {
      background: #fff;
      &:hover {
        background: $blue;
        border-color: $blue;
      }
    }
    &.selected {
      .icon {
        display: none;
      }
    }
  }
  .todo-task-star-button {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: $headerHeight;
    height: $headerHeight;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background: none;
    outline: none;
    cursor: pointer;
    &.selected {
      i {
        color: $yellow;
      }
    }
    i {
      line-height: $headerHeight;
      font-size: 1.5rem;
    }
  }
}