<template>
  <div 
    id="wrapper" 
    :class="{'sidebar-open':sidebarOpen, 'taskbar-open':taskbarOpen}">
    <Sidebar @toggleSidebar="toggleSidebar"/>
    <div class="wrapperHeader"/>    
    <div class="taskbar-wrapper"/>
    <nuxt />
  </div>
</template>

<script>
export default {
  data() {
    return {
      sidebarOpen: true
    }
  },
  computed: {
    taskbarOpen() {
      return this.$route.params.taskId;
    }
  },
  methods: {
    toggleSidebar() {
      this.sidebarOpen = !this.sidebarOpen;
    }
  }
}
</script>
