<template>
  <div>
    <div class="new-task-input input-group">
      <input 
        v-model="taskTitle" 
        :placeholder="label"
        :aria-label="label"
        type="text" 
        class="form-control" 
        aria-describedby="new-task-button-addon" 
        @keydown.enter="addTask">
    </div>

  </div>
</template>

<script>
export default {
  props: {
    list: {
      type: Object,
      required: true
    },
    label: {
      type: String,
      default: '',
      required: false
    },
    newTaskDueToday: {
      type: Boolean,
      default: false
    },
    newTaskStarred: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      taskTitle: null
    }
  },
  methods: {
    addTask() {
      if(!this.taskTitle) return;

      this.$store.dispatch('addTask', {
          id: this.$store.getters.randomId(),
          listId: this.list.id,
          title: this.taskTitle,
          creationDate: new Date().getTime(),
          completionDate: null,
          dueDate: this.newTaskDueToday ? new Date().toString() : null,
          description: null,
          completed: false,
          starred: this.newTaskStarred,
          subtasks: []
        });

      this.taskTitle = null;
    }
  },
}
</script>
