<template>
  <div
    :class="{completed: task.completed, selected: selected}"
    class="todo-task list-group-item"
    @click="showTaskInfo">    
    <button       
      :class="checkClasses" 
      class="todo-task-check-button"
      @click.stop="toggleTaskStatus">
      <i class="material-icons">check</i>
    </button>
    <span 
      class="title" 
      @click.stop="">{{ task.title }}</span>    
    <span
      :class="{red: taskIsLate}"
      class="dateLabel">{{ taskDateLabel }}</span>
    <button       
      :class="{selected: task.starred}"
      class="todo-task-star-button"
      @click.stop="toggleTaskStar">
      <i class="material-icons">{{ task.starred ? 'star' : 'star_outline' }}</i>
    </button>
  </div>
</template>

<script>
import moment from 'moment';
export default {
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      selected: false,
    }
  },
  computed: {
    taskIsLate() {
      return this.task.dueDate && this.$store.getters.isDateInPast(this.task.dueDate);
    },
    taskDateLabel() {
      let label;

      if(this.dueDate) {
        label = 'Due on ' + this.dueDate;
      } else if(this.completionDate) {
        label = 'Completed on ' + this.completionDate;
      } else {
        label = 'Created on ' + this.creationDate;
      }

      return label;
    },
    completionDate() {
      return this.task.completionDate ? this.$store.getters.getFriendlyDate(this.task.completionDate) : null;
    },
    creationDate() {
      return this.task.creationDate ? this.$store.getters.getFriendlyDate(this.task.creationDate) : null;
    },
    dueDate() {
      return this.task.dueDate ? this.$store.getters.getFriendlyDate(this.task.dueDate) : null;
    },
    taskLink() {
      const listId = this.$route.params.listId;
      return `/lists/${listId}/${this.task.id}`;
    },
    checkClasses() {
      return this.task.completed ? ['btn', 'btn-secondary'] : ['btn', 'btn-outline-secondary'];
    }
  },
  created() {
    this.selected = this.task.id === this.$route.params.taskId;
  },
  methods: {
    showTaskInfo() {
      this.$router.push(this.taskLink);
    },
    toggleTaskStatus() {
      this.$store.dispatch('toggleTaskStatus', this.task);
    },
    toggleTaskStar() {
      this.$store.dispatch('toggleTaskStar', this.task);
    }
  },
}
</script>

