<template>
  <div class="todo-list list-group">
    <Task 
      v-for="(task, index) in tasks"
      :key="index"
      :task="task"/>
  </div>
</template>

<script>
export default {
    props: {
      tasks: {
        type: Array,
        default: null
      }
    }
}
</script>
