<template>
  <component :is="content" />
</template>

<script>
import _ from 'lodash';
import Starred from '@/components/Content/Lists/Starred.vue';
import Default from '@/components/Content/Lists/Default.vue';
import Today from '@/components/Content/Lists/Today.vue';
import Week from '@/components/Content/Lists/Week.vue';
import Month from '@/components/Content/Lists/Month.vue';

export default {
  components: {
    Default,
    Starred,
    Today,
    Week,
    Month
  },
  data() {
    return {
      listTypes: ['starred', 'today', 'week', 'month'],
      content: 'default'
    }
  },
  computed: {
    listId() {
      return this.$route.params.listId;
    },
    list() {
      return _.find(this.listTypes, this.listId);
    },
    isValidListId() {
      return _.indexOf(this.listTypes, this.listId) > -1;
    }
  },
  created() {
    if(this.isValidListId) {
      this.content = this.listId;
    }
  }
}
</script>
