<template>
  <div 
    :class="{completed: subtask.completed}" 
    class="todo-task">
    <button 
      :class="checkClasses" 
      class="todo-task-check-button" 
      @click="toggleSubtaskStatus">
      <i class="material-icons">check</i>
    </button>
    <span class="title">{{ subtask.title }}</span>
  </div>
</template>

<script>
export default {
  props: {
    subtask: {
      type: Object,
      required: true
    }
  },
  computed: {
    checkClasses () {
      return this.subtask.completed ? ['btn', 'btn-secondary'] : ['btn', 'btn-outline-secondary'];
    }
  },
  methods: {
    toggleSubtaskStatus () {
      this.$store.dispatch('toggleSubtaskStatus', this.subtask);
    }
  },
}
</script>

