<template>
  <li class="taskbar-item subtasks-item">
    <div class="input-container">
      <i class="material-icons">add</i>
      <input 
        v-model="subtaskTitle" 
        placeholder="Add a subtask"
        type="text"
        @keydown.enter="addSubtask">
    </div>
    <div class="todo-list">
      <Subtask 
        v-for="(subtask, index) in task.subtasks"
        :key="index"
        :subtask="subtask"/>
    </div>
  </li>
</template>

<script>
export default {
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      subtaskTitle: null
    }
  },
  methods: {
    addSubtask() {
      if(!this.subtaskTitle) return;

      this.$store.dispatch('addSubtask', {
        taskId: this.task.id,
        subtask: {
          id: this.$store.getters.randomId(),
          title: this.subtaskTitle,
          completed: false
        }
      });

      this.subtaskTitle = null;
    }
  }
}
</script>
