<template>
  <li 
    :class="{
      red: red
    }" 
    class="taskbar-item date-item">
    <i class="material-icons">{{ icon }}</i>
    <Datepicker 
      :format="formatter" 
      :placeholder="placeholder"
      :value="value"
      @input="dateChange"/>
  </li>
</template>

<script>
import moment from 'moment';
export default {
  props: {
    date: {
      type: String,
      default: null,
      required: false,
    },
    prepend: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      value: null,
      red: false,
    }
  },
  created() {
    this.value = this.date;
  },
  methods: {
    dateChange(date) {
      this.$emit('change', date);
      console.log(date);
    },
    formatter(date) {
      let time = this.$store.getters.getFriendlyDate(date);
      this.red = this.$store.getters.isDateInPast(date);
      return this.prepend + ' ' + time;
    }
  }
}
</script>
