<template>
  <li class="taskbar-item delete-item">
    <button 
      type="button"
      @click="deleteTask">
      <i class="material-icons">clear</i>
      <span class="title">Delete Task</span>
    </button>
  </li>
</template>

<script>
export default {
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  methods: {
    deleteTask() {
      if(confirm(`Do you want to permanetly delete "${this.task.title}"?`)) {
        this.$store.dispatch('deleteTask', this.task);
        this.$router.push('/lists/' + this.$route.params.listId);
      }
    }
  }
}
</script>
