<template>
  <div 
    v-if="task"
    class="taskbar-wrapper">
    <div 
      class="todo-task">
      <button       
        :class="checkClasses" 
        class="todo-task-check-button"
        @click="toggleTaskStatus">
        <i class="material-icons">check</i>
      </button>
      <textarea 
        ref="title"
        v-model="task.title"
        :style="{height: inputHeight}"
        class="input-title title"
        @input="titleChange"
        @keydown.enter.prevent="titleChanged"
        @blur="titleChanged"/>
      <button       
        :class="{selected: task.starred}"
        class="todo-task-star-button"
        @click="toggleTaskStar">
        <i class="material-icons">{{ task.starred ? 'star' : 'star_outline' }}</i>
      </button>
    </div>
    <ul class="taskbar-nav">
      <TaskbarDateItem
        :date="task.dueDate"
        prepend="Due on"
        placeholder="Set due date"
        icon="event_available"
        @change="dueDateChange"
      />
      <TaskbarDateItem
        :date="task.remindDate"
        prepend="Remind me"
        placeholder="Remind me on"
        icon="alarm"
        @change="remindDateChange"
      />
      <Subtasks :task="task" />
      <TaskbarDeleteItem :task="task" />
    </ul>
  </div>
</template>

<script>
import _ from 'lodash';
export default {
  data() {
    return {
      inputHeight: '20px',
      currentTask: null,
      task: null
    }
  },
  computed: {
    taskFromStore() {
      return this.$store.getters.task(this.taskId);
    },
    listId() {
      return this.$route.params.listId;
    },
    taskId() {
      return this.$route.params.taskId;
    },
    checkClasses() {
      return this.task.completed ? ['btn', 'btn-secondary'] : ['btn', 'btn-outline-secondary'];
    }  
  },
  created () {
    this.task = this.taskFromStore;
    if(this.task) this.currentTask = _.clone(this.task);
  },
  methods: {
    dueDateChange(date) {
      this.task.dueDate = date.toString();
    },
    remindDateChange(date) {
      this.task.remindDate = date.toString();
    },
    titleChanged() {
      if(!this.task.title) {
        this.task.title = this.currentTask.title;
      } else {
        this.currentTask.title = this.task.title;
      }
    },
    titleChange() {
      this.inputHeight = '0px';
      this.$nextTick(() => {
        this.inputHeight = this.$refs.title.scrollHeight + 'px';
      });
    },
    toggleTaskStatus() {
      this.$store.dispatch('toggleTaskStatus', this.task);
    },
    toggleTaskStar() {
      this.$store.dispatch('toggleTaskStar', this.task);
    }
  }

}
</script>